COVID.2019.ru.ods
.~lock.COVID.2019.ru.ods#
data/momentary.da.txt
plots/map.animated
plots/fit.animated
plots/regions/increments/i.7
plots/regions/increments/R.RPN
plots/regions/rdi.race/
plots/world/
plots/mpg
scripts/.Rhistory
scripts/.Rdata
downloads/countries
downloads/stopcoronavirus.storage.cumulative.20200429.txt
private
